extends layout
block content
    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar Dian
            a.navbar-brand(href="/inquirystudents") Inquiry Student
            
    div.container
        h1= title
        a.span1(href='/logout') Logout
        br
        a(href='/profile') My Profile #{profile.full_name}