doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Test Login V2
    link(rel='stylesheet', type="text/css" , href='/form-login/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/fonts/iconic/css/material-design-iconic-font.min.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/vendor/animate/animate.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/vendor/animsition/css/animsition.min.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/vendor/select2/select2.min.css')    
    link(rel='stylesheet', type="text/css" , href='/form-login/vendor/daterangepicker/daterangepicker.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/css/util.css')
    link(rel='stylesheet', type="text/css" , href='/form-login/css/main.css') 
    
    
    //- script(src='maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"')
    //- script(src='ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  body
    .limiter
        .container-login100
             .wrap-login100
                form.login100-form.validate-form(method="POST" action="/signin" id="signin")
                    span.login100-form-title.p-b-26 Welcome, Sign In
                        p.txt-valid #{message}
                    span.login100-form-title.p-b-48
                    .wrap-input100.validate-input(data-validate='Enter Username')
                        input.input100(type='text', name='email')
                        span.focus-input100(data-placeholder='Email/Username')
                    .wrap-input100.validate-input(data-validate='Enter password')
                        span.btn-show-pass
                            i.zmdi.zmdi-eye
                        input.input100(type='password', name='password')
                        span.focus-input100(data-placeholder='Password')
                    .container-login100-form-btn
                        .wrap-login100-form-btn
                            .login100-form-bgbtn
                            button.login100-form-btn(type="submit") Login
                    .container-login100-form-btn
                        .wrap-login100-form-btn
                            .login100-form-bgbtn
                            a.login100-form-btn.btn-danger(href="/") Cancel
                    .text-center.p-t-115
                        span.txt1 Don&rsquo;t have an account?
                        a.txt2(href='/signupv2') Sign Up
    #dropDownSelect1
                                

    script(src='/form-login/vendor/jquery/jquery-3.2.1.min.js')
    script(src='/form-login/vendor/animsition/js/animsition.min.js')
    script(src='/form-login/vendor/bootstrap/js/popper.js')
    script(src='/form-login/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/form-login/vendor/select2/select2.min.js')
    script(src='/form-login/vendor/daterangepicker/moment.min.js')
    script(src='/form-login/vendor/daterangepicker/daterangepicker.js')
    script(src='/form-login/vendor/countdowntime/countdowntime.js')
    script(src='/form-login/js/main.js')