extends layout

block content
  h1= title
  div
    form(method='post' action='/save_student')
      p Nim :
      input(type='text' name='nim')
      p Nama :
      input(type='text' name='nama')
      p Kelas :
      input(type='text' name='kelas')
      p IPK :
      input(type='number' step='0.01' name='ipk')
      button(type='submit') Save
