extends layout_signup

block content

    nav#siteNav.navbar-default.navbar-fixed-top(role="navigation")
        .container
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#")
                    span.glyphicon.glyphicon-fire LOGO
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/index") Home
                    li
                        a(href="#") Product
                    li
                        if profile == null
                            a(href="/signin") Login
                        else
                            a Welcome, #{profile.full_name}
                    li.active
                        a(href='/signup') Sign Up
                    li
                        a(href="#") Contact
    .header
        br
        br
        br
        br
        br
        br
        .row.centered-form
        .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                        | Registrasi
                        small It's Free
                h3.col-md-8.txt-valid-signup #{message}
                .panel-body
                    form(role="form" action="/signup" method="POST" name="signup" id="signup")
                        .row
                            .col-xs-6.col-sm-6.col-md-6
                                .form-group
                                    input.form-control.input-sm(type="text" name="firstname" id="firstname" placeholder="First Name")
                            .col-xs-6.col-sm-6.col-md-6
                                .form-group
                                    input.form-control.input-sm(type="text" name="lastname" id="lastname" placeholder="Last Name")
                        .row
                            .col-xs-6.col-sm-6.col-md-6
                                .form-group
                                    input.form-control.input-sm.validate-input(type="email" id="email" name="email" placeholder="Email")
                            .col-xs-6.col-sm-6.col-md-6
                                .form-group
                                    input.form-control.input-sm(type="username" id="username" name="username" placeholder="Username")
                        .row
                            .col-xs-6.col-sm-6.col-md-6
                                .form-group
                                    input.form-control.input-sm(type="password" id="password" name="password" placeholder="Password")
                            .col-xs-6.col-sm-6.col-md-6
                                .form-group
                                    input.form-control.input-sm(type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password")
                        input.btn.btn-info.btn-block(type="submit" value="Register")


    script(src='/form-login/js/main.js')